#services-wrapper {
    display: flex;
    text-align: center;
    margin-top: 60px;
    justify-content: space-evenly;
}

#services-wrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: c;
    max-width: max-content;
}

@media(max-width: 1200px) {
    #services-wrapper {
        flex-direction: column;
        row-gap: 50px;
    }
}

@media(min-width: 1200px) {
    #services-wrapper {
        flex-direction: row;
        column-gap: 50px;
    }
}

#clients-logos-wrapper a[href="https://wwww.goldenbitweb.com"] img {
    width: 100px;
    max-height: initial;
}

#clients-logos-wrapper a[href="https://wwww.goldenbitweb.com"] p {
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: large;
    color: color(srgb 0.2652 0.3084 0.4037);
    font-weight: bold;
}