article.container {
    padding-top: 15px;
}

details {
    background-color: #ededed;
    padding: 15px;
    font-size: larger;
    list-style-type: none;
    margin-bottom: 15px;
}

details summary {
    font-weight: bold;
}

details ul {
    list-style-type: none;
}

article img {
    max-width: 100%;
}

@media(max-width: 768px) {
    header {
        padding: 0;
    }
    
    header .container {
        padding: 0;
        background: none;
    }
    
    .section-heading-wrapper {
        margin: 80px 5px 30px 5px;
    }
    
    .section-heading-wrapper h1 {
        font-size: x-large;
    }
}

@media(min-width: 768px) {
    header {
        min-height: max-content;
        padding-bottom: 80px;
    }

    header div.container {
        margin-top: 40px;
    }

    .section-heading-wrapper {
        margin-top: 80px;
    }
    
    .section-heading-wrapper h1 {
        font-size: x-large;
    }
}