:is(h1, h2, h3, h4, h5, h6) {
    scroll-margin-top: 90px;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
    transition: all .5s ease;
    background: #772953;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: xx-large;
    border: none;
    box-shadow: 0px 2px 5px 2px rgb(0 0 0 / 40%);
}

#scrollToTopBtn p {
    font-size: inherit; 
    line-height: inherit; 
    margin: 0;
    transition: all .5s ease-in-out;
    filter: drop-shadow(0px 20px 2px rgba(0,0,0, .0));
    line-height: 2.2;
}

#scrollToTopBtn:hover p {
    transform: translateY(-10px); 
    transition: all .5s ease-in-out;
    filter: drop-shadow(0px 20px 2px rgba(0,0,0, .3));
}
  
#scrollToTopBtn.showBtn {
    opacity: 1;
    transform: translateY(0);
}

article.container {
    padding-top: 15px;
}

details {
    background-color: #ededed;
    padding: 15px;
    font-size: larger;
    list-style-type: none;
    margin-bottom: 15px;
}

details summary {
    font-weight: bold;
}

details ul {
    list-style-type: none;
}

article img {
    max-width: 100%;
    cursor: pointer;
}

@media(max-width: 768px) {
    header {
        padding: 0;
    }
    
    header .container {
        padding: 0;
        background: none;
    }
    
    .section-heading-wrapper {
        margin: 80px 5px 30px 5px;
    }
    
    .section-heading-wrapper h1 {
        font-size: x-large;
    }
}

@media(min-width: 768px) {
    header {
        min-height: max-content;
        padding-bottom: 80px;
    }

    header div.container {
        margin-top: 40px;
    }

    .section-heading-wrapper {
        margin-top: 80px;
    }
    
    .section-heading-wrapper h1 {
        font-size: x-large;
    }
}