<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading-wrapper">
                        <i class="fa fa-terminal" aria-hidden="true" style="font-size: 40px; margin-right: 10px;"></i>
                        <h2 class="section-heading"></h2>  
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://cyberneid.com">
                        <img src="img/logos/cyberneid.png" class="img-responsive img-centered" alt="Cyberneid">
                    </a>
                </div>
            </div>
        </div>
    </aside>