<!-- Clients Aside -->
    <aside id="clients">
        <div class="container">
            <div class="section-heading-wrapper">
                <i class="fa fa-terminal" aria-hidden="true"></i>
                <h2 class="section-heading" data-text="Our Partners in crime 🕵️"></h2>  
            </div>
            
            <div id="clients-logos-wrapper">
                <a href="https://cyberneid.com" target="_blank">
                    <img loading="lazy" src="/img/logos/cyberneid.png" class="img-responsive img-centered" alt="Cyberneid logo">
                </a>

                <a href="https://www.goldenbitweb.com" target="_blank">
                    <div class="d-flex align-items-center justify-content-center">
                        <img loading="lazy" src="/img/logos/logo-goldenbitweb.png" class="img-responsive img-centered" alt="Gold Bit Web logo">

                        <p>Gold Bit Web</p>
                    </div>
                </a>

                <a href="https://quantum2pi.com" target="_blank">
                    <img loading="lazy" src="/img/logos/quantum2pi.png" class="img-responsive img-centered" alt="Quantum2Pi logo">
                </a>
            </div>
        </div>
    </aside>