<section id="contact">
    <div class="container">
      <div class="section-heading-wrapper">
        <i class="fa fa-terminal" aria-hidden="true"></i>
        <h2 class="section-heading" data-text="Let's get in touch 😉"></h2>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <form
            method="post"
            action="https://forms.un-static.com/forms/14d582827822ffc09ac63bc9b1c7f8805c1e3def"
          >
            <div class="form-group">
              <div class="col-8">
                <div class="input-group">
                  <div class="input-group-addon">Enter your name:</div>
                  <input name="name" type="text" class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <div class="col-8">
                  <div class="input-group">
                    <div class="input-group-addon">Enter your e-mail:</div>
                    <input name="email" type="text" class="form-control" />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-8">
                  <textarea
                    name="message"
                    cols="40"
                    rows="8"
                    class="form-control"
                    placeholder="Your message"
                  ></textarea>
                </div>
              </div>

              <div class="col-lg-12 text-center">
                <button
                  id="submit-contact-form"
                  type="submit"
                  class="btn btn-xl"
                >
                  Send Message
                  <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>

                <div class="text-center">
                  <p>
                    <small style="color: white"
                      >(Powered by
                      <a rel="nofollow" href="Un-static Forms"
                        >Un-static Forms</a
                      >)</small
                    >
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>