   <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

    <!-- typewriter-effect -->
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>

   <!-- Controlla il layout e aggiungi gli script necessari solo per i post -->
   {% if page.layout == "post" %}
      <script src="{{ "/js/post.js" | prepend: site.baseurl }}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.6/viewer.min.js" integrity="sha512-EC3CQ+2OkM+ZKsM1dbFAB6OGEPKRxi6EDRnZW9ys8LghQRAq6cXPUgXCCujmDrXdodGXX9bqaaCRtwj4h4wgSQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   {% endif %}