<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="section-heading-wrapper">
                <i class="fa fa-terminal" aria-hidden="true" style="font-size: 40px; margin-right: 10px;"></i>
                <h2 class="section-heading" data-text="That's what we do... 🦾"></h2>  
            </div>

            <div id="portfolio-projects">
            {% for post in site.posts %}
                <div class="portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal" style="--background-image: url(img/portfolio/{{ post.thumbnail }});">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-eye fa-3x"></i>
                            </div>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
