<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="section-heading-wrapper">
                <i class="fa fa-terminal" aria-hidden="true"></i>
                <h2 class="section-heading" data-text="What are you looking for? 👀"></h2>  
            </div>

            <div id="services-wrapper">
                <div>
                    <div class="service-heading-wrapper">
                        <span class="fa-stack fa-4x animate__animated animate__backInLeft animate__delay-2s">
                            <i class="fa fa-circle fa-stack-2x" style="color: #77216F;"></i>
                            <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                        </span>
    
                        <h4 class="service-heading animate__animated animate__fadeInDown animate__delay-3s">App Development</h4>    
                    </div>

                    <p class="service-description text-muted animate__animated animate__fadeIn animate__delay-4s">Specialized in creating intuitive and user-friendly mobile applications for both iOS and Android platforms, ensuring high performance and seamless user experiences across devices.</p>
                </div>

                <div>
                    <div class="service-heading-wrapper">
                        <span class="fa-stack fa-4x animate__animated animate__backInDown animate__delay-2s">
                            <i class="fa fa-circle fa-stack-2x" style="color: #E95420"></i>
                            <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                        </span>
    
                        <h4 class="service-heading animate__animated animate__fadeInDown animate__delay-3s">Web Development</h4>
                    </div>

                    <p class="service-description animate__animated animate__fadeIn animate__delay-4s">Expert in building responsive and dynamic websites, utilizing modern frameworks and technologies to deliver engaging and scalable web solutions that meet client needs.</p>
                </div>

                <div>
                    <div class="service-heading-wrapper">
                        <span class="fa-stack fa-4x animate__animated animate__backInRight animate__delay-2s">
                            <i class="fa fa-circle fa-stack-2x" style="color: #0170c5"></i>
                            <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                        </span>
    
                        <h4 class="service-heading animate__animated animate__fadeInDown animate__delay-3s">Backend Development</h4>    
                    </div>

                    <p class="service-description text-muted animate__animated animate__fadeIn animate__delay-4s">Proficient in designing and developing robust backend systems, focusing on database management, API integrations, and server-side logic to support scalable and secure applications.</p>
                </div>
            </div>
        </div>
    </section>