<!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="section-heading-wrapper">
                <i class="fa fa-terminal" aria-hidden="true" style="font-size: 40px; margin-right: 10px;"></i>
                <h2 class="section-heading" data-text="Take a look at who whe are! 😎"></h2>  
            </div>

            <p style="margin-bottom: 100px; font-size: 16px;">
                At the top, a leadership team drives the company’s strategy, while functional divisions, including IT, Marketing, and Brand Identity and Design, work synergistically. We promote a company culture based on collaboration, innovation, and personal growth, encouraging transparency and open communication across departments. We offer training and development to equip our team with the skills needed to meet market challenges, while ensuring the delivery of cutting-edge solutions to our clients.
            </p>

            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="/img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="" style="border-color: #{{ member.color }};">
                        <h4>{{ member.name }}</h4>
                        <p style="color: #{{ member.color }};">{{ member.position }}</p>
                        <p class="member-description">{{ member.description }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}" target="_blank">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>