header {
    height: max-content;
}

article.container {
    padding-top: 15px;
}

details {
    background-color: #ededed;
    padding: 15px;
    font-size: larger;
    list-style-type: none;
    margin-bottom: 15px;
}

details summary {
    font-weight: bold;
}

details ul {
    list-style-type: none;
}

article img {
    max-width: 100%;
}